<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 version="4.0">
	 <!--  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>servicejava</servlet-name>
        <servlet-class>com.eduit.javaApi.products</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servicejava</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
</web-app>